{% load i18n admin_urls %}
{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% if cl.opts.model_name == 'order' %}Добавить заявку
      {% elif cl.opts.model_name == 'resource' %}Добавить ресурс
      {% elif cl.opts.model_name == 'busyslot' %}Добавить запись
      {% else %}{% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}{% endif %}
    </a>
  </li>
  {% endif %}
{% endblock %}
